<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="columns is-multiline pr-4">
                    <div class="column">
                        <div>
                            Hosted by the <a href="https://www.rism-ch.org">RISM Switzerland</a> in Bern
                        </div>
                        <div>
                            <a href="/service/disclaimer.html">Disclaimer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="columns">
                    <div class="column">
                        <a href="https://www.musicology.org/" target="_blank"><img src="/images/footer/logo_ims.png"></a>
                    </div>
                    <div class="column">
                        <a href="https://www.iaml.info/" target="_blank"><img src="/images/footer/logo_iaml.png"></a>
                    </div>
                    <div class="column">
                        <a href="http://www.adwmainz.de/startseite.html" target="_blank"><img src="/images/footer/logo_akademie.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
