<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-left pb-4">
                <div>
                    <p>Follow us:</p>
                    <a class="button is-small is-facebook mr-2" href="https://www.facebook.com/RISM.info/" target="_blank">
                        <span class="icon"><i class="fab fa-facebook"></i></span>
                    </a>
                    <a class="button is-small is-twitter mr-2" href="https://twitter.com/RISM_music" target="_blank">
                        <span class="icon"><i class="fab fa-twitter"></i></span>
                    </a>
                    <a class="button is-small is-youtube mr-2" href="https://www.youtube.com/channel/UCWLRkiqVuq8BrYbCArubi_w" target="_blank">
                        <span class="icon"><i class="fab fa-youtube"></i></span>
                    </a>
                </div>
            </div>
            <div class="level-left pr-4">
                <div class="columns">
                    <div class="column">
                        <div>
                            Hosted by the <a href="https://www.rism-ch.org">RISM Switzerland</a> in Bern
                        </div>
                        <div>
                            <a href="/service/disclaimer.html">Disclaimer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="columns">
                    <div class="column">
                        <a href="https://www.musicology.org/" target="_blank"><img src="/images/footer/logo_ims.png"></a>
                    </div>
                    <div class="column">
                        <a href="https://www.iaml.info/" target="_blank"><img src="/images/footer/logo_iaml.png"></a>
                    </div>
                    <div class="column">
                        <a href="http://www.adwmainz.de/startseite.html" target="_blank"><img src="/images/footer/logo_akademie.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
