<div class="columns">
    <div class="column">
        <div>
            Hosted by the <a href="https://rism.digital">RISM Digital Center</a> in Bern
        </div>
        <div>
            <a href="/service/impressum.html">Impressum</a> | 
            <a href="/service/privacy-policy.html">Privacy policy</a> | 
            <a href="/service/faq.html">FAQ</a> | 
            <a href="/editorial-center.html">Contact us</a> |
            <a href="/service/feedback.html">Feedback</a>
        </div>
    </div>
</div>
