<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="shortcut icon" type="image/png" href=" {{ site.baseurl }}/images/favicon.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">

    {% if page.post %}
    <!-- cards for posts -->
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ page.author }}">
    <meta name="twitter:title" content="{{ page.title }}">
    {% if page.image %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    <meta property="og:image" content="{{ site.url }}{{ page.image }}">
    {% endif %}
    <!-- end of cards -->
    {% endif %}

    {% seo %}
</head>
