<div class="hero-body">
    {% if hero_height == "is-small" %}
    <div class="container">
        <img src="/images/logo.png">
    </div>
    {% else %}
    <div class="container">
        <div class="level">
            <div class="level-left ">
                <img src="/images/logo-large.png" class="mr-20 is-hidden-touch">
                <img src="/images/logo-medium.png" class="mr-10 is-hidden-desktop is-hidden-mobile">
            </div>
            <div class="level-item ml-30">
                <div>
                    <div class="columns opac-search">
                        <div class="column">
                            <h1 class="is-hidden-mobile">Search in RISM</h1>
                            <h2 class="is-hidden-tablet">Search in RISM</h2>
                        </div>
                    </div>
                    <div class="columns is-desktop opac-search">
                        <div class="column is-narrow">
                            <div class="field is-grouped mr-3">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input id="opac-search-term" class="input is-primary" type="text" placeholder="Search ...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-grouped">
                                <div class="control engine">
                                    <a class="button is-primary" href="javascript:rism_online()">
                                        <span>RISM Online</span>
                                        <span class="icon is-small">
                                            <i class="unchecked fas" id="rism-online-unchecked"></i>
                                            <i class="checked fas fa-check" style="display: none;" id="rism-online-checked"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="control engine">
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">  
                                            <div class="control">                                        
                                                <a class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4" href="javascript:opac()">
                                                    <span>RISM OPAC</span>
                                                    <span class="icon is-small">
                                                        <i class="unchecked fas" id="opac-unchecked"></i>
                                                        <i class="checked fas fa-check" style="display: none;" id="opac-checked"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu4">
                                            <div class="">
                                                <div class="control">
                                                    <a class="button is-primary" href="javascript:opac_advanced()">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-arrow-right"></i>
                                                        </span>
                                                        <span>Advanced search</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if page.permalink == "/index.html" %}
<script>
    window.onload = function() {
        update_checkboxes();
    }

    document.getElementById("opac-search-term").addEventListener("keyup", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            search();
        }
    });

    function update_checkboxes() {
        var search = localStorage.getItem("search");
        if (search == "rism-online") {
            document.getElementById("rism-online-unchecked").style.display = "none";
            document.getElementById("rism-online-checked").style.display = "block"; 
        }
        else {
            document.getElementById("opac-unchecked").style.display = "none";
            document.getElementById("opac-checked").style.display = "block"; 
        }
    }

    function search() {
        // Retrieve
        var search = localStorage.getItem("search");
        if (search == "rism-online") rism_online();
        else opac();
    }

    function opac() {
        localStorage.setItem("search", "opac");
        update_checkboxes();
        var search = document.getElementById("opac-search-term").value;
        var link = "https://opac.rism.info/metaopac/search?searchCategories%5B0%5D=-1&q=" + search + "&View=rism&Language={{ site.active_lang }}"
        window.location.href = link; 
    }

    function opac_advanced() {
        localStorage.setItem("search", "opac");
        update_checkboxes();
        var search = document.getElementById("opac-search-term").value;
        var link = "https://opac.rism.info/metaopac/start.do?SearchType=2&searchString=" + search + "&View=rism&Language={{ site.active_lang }}"
        window.location.href = link; 
    }

    function rism_online() {
        localStorage.setItem("search", "rism-online");
        update_checkboxes();
        var search = document.getElementById("opac-search-term").value;
        var link = "https://rism.online/search?q=" + search
        window.location.href = link; 
    }

</script>
{% endif %}
