<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% endif %} is-primary has-bg-img">
    <div class="hero-head">
        <div class="container">
            <div class="is-pulled-right">
                <a {% if site.active_lang == "en" %}class="disabled"{% endif %} href="{{ site.baseurl | append: " " | append: page.permalink }}">English</a>&#160;|
                <a {% if site.active_lang == "de" %}class="disabled"{% endif %} href="{{ site.baseurl | append: "/de" | append: page.permalink }}">Deutsch</a>&#160;|
                <a {% if site.active_lang == "fr" %}class="disabled"{% endif %} href="{{ site.baseurl | append: "/fr" | append: page.permalink }}">Français</a>
            </div>
        </div>
    </div>
    <div class="hero-body">
        {% if (page.hero_height == "is-small") or (layout.hero_height == "is-small") %}
        <div class="container">
            <img src="/images/logo.png">
        </div>
        {% else %}
        <div class="container is-hidden-mobile">
            <div class="level ">
                <div class="level-left">
                    <img src="/images/logo-large.png">
                </div>
                <div class="level-left">
                    <img src="/images/bach-grigny.png">
                </div>
            </div>
        </div>
        <div class="container is-hidden-tablet">
            <img src="/images/logo.png">
        </div>
        {% endif %}
    </div>
</section>
