{% comment %}shift one because we do not want to have tile for the homepage{% endcomment %}
{% assign menus = site.data.navigation | shift %}
<div class="tile is-ancestor tile is-block-desktop is-flex-widescreen">
    {% for item in menus %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 1 %}
</div>
<div class="tile is-ancestor tile is-block-desktop is-flex-widescreen">
    {% endif %}
    <div class="tile is-parent">
        <div class="tile is-child card">
            <a href="{{ item.link }}">
                <div class="card-image is-menu">
                    <img src="/images/tiles/{{ item.image }}">
                </div>
                <div class="card-content is-menu">
                    <h3>{{ item.name[site.active_lang] }}</h3>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}   
    <div class="tile is-parent">
    </div>
</div>