<div class="card">
    <header class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </header>
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <div class="float-left news-card">
                <img src="{{ post.image }}">
            </div>
            {% endif %}
            <p>{{ post.excerpt }}</p>
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
        <a class="card-footer-item" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
    </footer>
</div>