{% assign more = site.data.locales | where: "id", "more" | first %}

<div class="columns news">
    <div class="column">
        {% if post.image %}
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}"></a>
        {% endif %}
    </div>
    <div class="column is-four-fifths">
        <p class="has-text-weight-semibold">{{ post.title }}</p>
        <p>{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
        
        <p><a href="{{ site.baseurl }}{{ post.url }}">{{ more.name[site.active_lang] }}</a></p>
    </div>
</div>

