
<a class="button is-small is-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank">
    <span class="icon"><i class="fab fa-facebook"></i></span>
    <span>Share</span>
</a>

<a class="button is-small is-twitter" href="https://twitter.com/intent/tweet?text=&url={{site.url}}{{page.url}}" target="_blank">
    <span class="icon"><i class="fab fa-twitter"></i></span>
    <span>Tweet</span>
</a>

<a class="button is-small is-black" href="mailto:?subject=&amp;body=Check out this site {{site.url}}{{page.url}}" target="_blank">
    <span class="icon"><i class="fas fa-envelope"></i></span>
    <span>Email</span>
</a>