$rism-editorial-center-primary: hsl(207, 100%, 28%); /* equivalent #005091 */
$rism-editorial-center-highlight: lighten($rism-editorial-center-primary, 20%);
$rism-editorial-center-white: #fff;

// colored navbar
$navbar-background-color: $rism-editorial-center-primary;
$navbar-item-color: $rism-editorial-center-white;
$navbar-item-hover-background-color: lighten($rism-editorial-center-primary, 5%);
$navbar-item-hover-color: $rism-editorial-center-white;
$navbar-item-active-background-color: darken($rism-editorial-center-primary, 5%);
$navbar-item-active-color: $rism-editorial-center-white;

// white navbar
//$navbar-item-hover-background-color: $rism-editorial-center-primary;
//$navbar-item-hover-color: $rism-editorial-center-white;
//$navbar-item-active-background-color: darken($rism-editorial-center-primary, 5%);
//$navbar-item-active-color: $rism-editorial-center-white;

$notification-radius: 3px;
$notification-padding-ltr: 0.75rem;

$input-radius: 1px;
$control-radius: 1px;

.sidenavbar {
    @extend .navbar;
    display: flex;
    border-bottom: none !important;
    border-radius: 3px;
    margin-bottom: 8px;

    .navbar-item {
        display: flex;
        align-items: center;
    }
}

.card { 
    a {
    color: inherit;
    text-decoration: none;

        .card-image {
            height: 80px;
            max-height: 80px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //filter: grayscale(80%);
            }
        }
        .card-image.is-menu {
            height: 70px;
            max-height: 70px;   
        }
        .card-content.is-menu h3 {
            margin-bottom: 0px;   
        }
    }

    a:hover {
        h1, h2, h3 {
            transition: color 0.2s ease-in-out;
            color: darken($content-heading-color, 20%);
        }
        .card-image > img {
            transition: filter 0.2s ease-in-out;
            filter: brightness(105%);
        }
    }
}

.opac-search {
    .column {
        padding: 5px 0px;
        h1, h2 {
            color: $rism-editorial-center-primary;
            font-weight: 500;
        }
        h1 {
            font-size: 22px; 
        }
        h2 {
            font-size: 18px; 
        }
    }
    a.button:hover span.engine i.checked { 
        display: block !important;
    }
    a.button:hover span.engine i.unchecked {
        display: none !important;
    }
}

@import 'sigla';