---
layout: home
sidepanel: "sidepanels/post"
---

{% assign labels = site.data.categories %}
{% assign label = labels | where: "id", page.pagination.category | first %}

<h1>{{ label.name[site.active_lang] }}</h1>

{% if paginator.page_trail %}
<div class="buttons">
  {% if page.url != paginator.first_page_path %}
  <button onclick="location.href='{{ paginator.first_page_path | prepend: site.baseurl }}'" class="button is-small is-info is-light">&lt;&lt;</button>
  {% endif %}

  {% for trail in paginator.page_trail %}
  {% assign iscurrent = false %}
  {% if page.url == trail.path %} {% assign iscurrent = true %}{% endif %}
  <button {% if iscurrent %} disabled {% else %} onclick="location.href='{{ trail.path | prepend: site.baseurl }}'" {% endif %} class="button is-small is-info {% if iscurrent == false %} is-light  {% endif %}">{{ trail.num }}</button>
  {% endfor %}

  {% if page.url != paginator.last_page_path %}
  <button onclick="location.href='{{ paginator.last_page_path | prepend: site.baseurl }}'" class="button is-small is-info is-light">&gt;&gt;</button>
  {% endif %}
</div>
{% endif %}

<div class="columns is-multiline">
  {% for post in paginator.posts %}
  <div class="column is-12">
      {% include post-card.html %}
  </div>
  {% endfor %}
</div>