{% assign menubar = layout.menubar %}
{% if menubar == blank %}{% assign menubar = page.menubar %}{% endif %}

{% assign sidepanel = layout.sidepanel %}
{% if sidepanel == blank %}{% assign sidepanel = page.sidepanel %}{% endif %}

{% assign show_posts = layout.show_posts  %}
{% if show_posts != true %}{% assign show_posts = page.show_posts %}{% endif %}

{% assign hide_footer = layout.hide_footer %}
{% if hide_footer == blank %}{% assign hide_footer = page.hide_footer %}{% endif %}

{% if show_posts %} 
    {% assign content_width = 'is-5-desktop is-12-tablet' %} 
{% elsif menubar or sidepanel %} 
    {% assign content_width = 'is-8' %} 
{% else %} 
    {% assign content_width = 'is-12' %} 
{% endif %}
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="wrapper">
        {% include header.html %}
        {% unless page.hide_hero %}
            {% include hero.html %}
        {% endunless %}
        <section class="section">
            <div class="container">
                <div class="columns is-multiline ">
                    <div class="column {{ content_width }}">
                        <div class="content">
                        {{ content }}
                        </div>
                    </div>
                    {% if site.posts and show_posts %}
                    <div class="column is-7-desktop is-12-tablet">
                        <div class="content">
                            {% include latest-posts.html %}
                        </div>
                    </div>
                    {% elsif menubar or sidepanel %}
                    <div class="column is-4-desktop is-4-tablet side-content">
                        {% if menubar %}{% include menubar.html %}{% endif %}
                        {% if sidepanel %}{% include sidepanel.html margin=menubar %}{% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
    {% unless hide_footer %}
        {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
  </body>
</html>

