---
layout: home
nav: /index.html
sidepanel: "sidepanels/post"
permalink: page.permalink
---

<h1>{{ page.title }}</h1>

{% if page.author != '' or page.email != '' %}
<h4>
    {% if page.author != '' %}{{ page.author }}{% endif %}
    {% if page.author != '' and page.email != '' %}&nbsp;{% endif %}
    {% if page.email != '' %}<i>{{ page.email }}</i>{% endif %}
</h4>
{% endif %}

{{ content }}

{% include share.html %}

<hr/>

{% assign older = site.data.locales | where: "id", "older" | first %}
{% assign newer = site.data.locales | where: "id", "newer" | first %}
{% assign older_by_cat = site.data.locales | where: "id", "older-by-cat" | first %}
{% assign newer_by_cat = site.data.locales | where: "id", "newer-by-cat" | first %}


<div class="level">
    <div class="level-left">
    {% if page.previous.url %}
        <a href="{{ page.previous.url }}">{{ older.name[site.active_lang] }}</a>
    {% endif %}
    {% if page.previous_in_category != nil %}
        {% if page.previous.url %}&nbsp;|&nbsp;{% endif %}
        <a href="{{ page.previous_in_category.url }}" class="previous-link">{{ older_by_cat.name[site.active_lang] }}</a>
    {% endif %}
    </div>
    <div class="level-right">  
    {% if page.next_in_category != nil %}
        <a href="{{ page.next_in_category.url }}" class="next-link">{{ newer_by_cat.name[site.active_lang] }}</a>
        {% if page.next.url %}&nbsp;|&nbsp;{% endif %}  
    {% endif %}
    {% if page.next.url %}
        <a href="{{ page.next.url }}">{{ newer.name[site.active_lang] }}</a>
    {% endif %}
    </div>
</div>


